apiVersion: v1
kind: PersistentVolume
metadata:
  name: image-registry-pv 
spec:
  capacity:
    storage: 100Gi 
  accessModes:
  - ReadWriteMany
  nfs: 
    path: {{ nfs.path }}/image-registry
    server: {{ nfs.ip }}
  persistentVolumeReclaimPolicy: Retain 